/* @import url('https://fonts.googleapis.com/css2?family=Cabin&family=Cinzel&family=Noto+Sans&display=swap'); */
@font-face {
    font-family: Infernal;
    src: url("assets/Barazhad-Regular.otf") format("opentype");
}

:root {
    --thay-font: "DnD Infernal", Infernal, Barazhad, serif;
    --sans-font: Arial, Helvetica, sans-serif;
}

body {
    color: #505050;
    font-family: var(--sans-font);
}

table,
td,
tr,
th {
    border: 1px solid #ddd;
    border-collapse: collapse;
    font-family: var(--sans-font);
}

th,
td {
    padding: 5px;
    vertical-align: center;
}

v-sp {
    color: #3384b0;
    font-family: var(--thay-font);
    transform: var(--scale);
    font-weight: bold
}

v-sp2 {
    color: #505050;
    font-family: var(--sans-font);
    font-size: 16px;
    transform: var(--scale);
    font-weight: bold
}

v-ipa {
    font-family: var(--sans-font);
    transform: var(--scale);
}

v-pos {
    color: #848484;
    font-size: 15px;
    font-style: italic
}

.padtop {
    margin-top: 20px !important
}

th,
td {
    padding: 5px;
    vertical-align: center
}

.vl__settings-container {
    background: #f7f8f9;
    border: 1px solid #ddd
}

.vl__settings-inner {
    margin: 15px auto;
    max-width: 1000px;
    padding: 7px
}

.vl__button,
.vl__button--options,
.vl__button--small,
.vl__button--big,
.vl__button--big--center {
    background: #fff;
    border: none;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, .4);
    color: #e34c72;
    cursor: pointer;
    font-size: 16px;
    transition-duration: .1s
}

.vl__button:hover,
.vl__button--options:hover,
.vl__button--small:hover,
.vl__button--big:hover,
.vl__button--big--center:hover,
.vl__button:focus,
.vl__button--options:focus,
.vl__button--small:focus,
.vl__button--big:focus,
.vl__button--big--center:focus {
    box-shadow: 0px 1px 5px rgba(0, 0, 0, .4)
}

.vl__button--big,
.vl__button--big--center {
    border-radius: 25px;
    padding: 12px 32px
}

.vl__button--big--center {
    display: block;
    margin: auto
}

.vl__button--big--loading {
    color: gray
}

.vl__button--small {
    border-radius: 5px;
    font-size: 13px;
    margin: 4px;
    padding: 4px 16px;
    display: inline-block
}

.vl__button--options {
    border-radius: 5px;
    color: #0092c2;
    margin: 4px;
    padding: 8px 12px 8px 12px
}

.vl__button--options:hover,
.vl__button--options:focus {
    box-shadow: 0px 1px 5px rgba(0, 0, 0, .4)
}

.vl__button--options:focus {
    background: #e5f4f8
}

.vl__sticky-ipa {
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .1);
    outline: solid #e4e2e0;
    padding: 10px 15px 12px 15px;
    position: -webkit-sticky;
    position: sticky;
    top: 0
}

.vl__load-settings {
    display: none
}

.vl__custom-phonemes-toggle {
    text-align: center
}

.vl__checkbox-toggle {
    font-family: Cabin, Calibri;
    background: #e5e8e8;
    display: inline-block;
    border-radius: 1.2em;
    padding: .2em 2em .2em .2em;
    margin-bottom: 8px
}

.vl__checkbox-toggle input {
    display: none
}

.vl__checkbox-toggle label {
    font-family: Cabin, Calibri;
    transition: transform .1s;
    cursor: pointer;
    background: #abb2b9;
    color: #fff;
    display: inline-block;
    padding: .25em 1em;
    border-radius: 1em
}

.vl__checkbox-toggle input:checked+label {
    background: #db194a;
    color: #fff;
    transform: translateX(1.8em)
}

.vl__textarea--oneline {
    background: #f3f4f5;
    border-radius: 25px 25px 4px 25px;
    font-family: var(--sans-font);
    font-size: 16px;
    width: 100%;
    padding: 11px 15px 11px 15px
}

@-moz-document url-prefix() {
    .vl__textarea--oneline {
        height: 3em
    }
}

.vl__textarea--multiline,
.vl__textarea--multiline--float-left,
.vl__textarea--multiline--notosans-serif {
    background: #f3f4f5
}

.vl__textarea--multiline--notosans-serif {
    font-family: var(--sans-font);
}

.vl__textarea--multiline--float-left {
    float: left;
    margin-right: 20px;
    margin-top: 10px
}

.vl__more-options {
    padding: 0px 0px 14px 0px;
    text-align: center
}

.vl__clear-float {
    clear: both
}

.vl__flex {
    display: flex;
    flex-wrap: wrap
}

.vl__flex--right {
    flex: 2;
    min-width: 360px;
    margin-left: 20px
}

.vl__flex-margin {
    margin-bottom: 10px
}

.vl__input--greyed {
    background: #f3f4f5
}

.vl__textarea--greyed {
    color: #5f6b6f
}

.vl__gloss-table {
    border-left: 4px solid #ccc;
    font-size: 15px
}

.vl__unpad {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 12px
}

.vl__gloss-con {
    font-family: var(--sans-font);
    font-weight: bold
}

.vl__IPAsymbols {
    background: #f7f8f9;
    display: none;
    z-index: 5
}

.vl__nowrap {
    white-space: nowrap
}

.vl__ipa-button {
    color: #0092c2;
    cursor: pointer;
    font-family: var(--sans-font);
    font-size: 16px
}

.vl__vert-div {
    color: #d7dde0;
    font-weight: bold
}

.vl__grammar-editor {
    background: #f3f4f5;
    font-family: var(--sans-font);
    font-size: 1em;
    height: 525px
}

.vl__grammar-block {
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .2);
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: inline-block;
    margin-bottom: 20px;
    margin-right: 20px;
    overflow: auto;
    overflow-x: auto;
    padding: 20px;
    text-align: left;
    vertical-align: top
}

.vl__output-container {
    background: #f7f8f9;
    padding: 15px;
    margin: 0px auto;
    max-width: 1920px;
    margin-top: 60px !important;
    border: 1px solid #1d77a8;
    text-align: center
}

.vl__the-language-of {
    color: #db194a;
    font-family: "Arial Black", var(--sans-font);
    text-align: center;
    font-weight: bold
}

.vl__red-h2 {
    color: #db194a;
    text-align: center
}

.vl__sample-sentence {
    text-align: center;
    max-width: 700px;
    margin: 0 auto
}

.vl__seed {
    text-align: center;
    background: #fff;
    border-radius: 8px;
    padding: 10px;
    margin: 20px auto;
    border: 1px dashed #db194a
}

.vl__translator--container {
    margin-top: 15px
}

.vl__translator--note {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px
}

.vl__translator--main {
    text-align: center;
    margin-top: 15px
}

.vl__generate-name {
    margin-top: 20px
}

.vl__sound-change-list {
    font-family: var(--sans-font);
}

.vl__freq-stats {
    display: none
}

.vl__morph-description {
    font-family: var(--sans-font);
    padding-bottom: 5px
}

.vl__dictionary-container {
    background: #fff;
    border-radius: 4px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .3);
    display: block;
    margin: 0 auto;
    padding: 20px;
    text-align: left
}

.vl__no-bullet {
    list-style-type: none
}

.vl__translator-affixes {
    list-style-type: none;
    margin: 0px;
    text-align: left;
    -moz-column-count: 5;
    -moz-column-gap: 5px;
    -webkit-column-count: 5;
    -webkit-column-gap: 5px;
    column-count: 5;
    column-gap: 5px
}

.vl__dictionary-list {
    -moz-column-count: 3;
    -moz-column-gap: 5px;
    -webkit-column-count: 3;
    -webkit-column-gap: 5px;
    column-count: 3;
    column-gap: 5px
}

.vl__dictionary-list li {
    font-family: var(--sans-font);
    display: block;
    float: none;
    min-width: 198px;
    margin: 0 0 4px 0;
    border: 1px solid #f5f5f5;
    padding: 4px;
    -webkit-transition-duration: 1.5s;
    transition-duration: 1.5s
}

.vl__dictionary-list li:hover {
    border-radius: 4px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, .3);
    cursor: context-menu;
    border: 1px solid #a4c8dc
}

.vl__selected-lang {
    color: #db194a
}

.vl__hard-footer {
    padding: 3%
}

.vl__popup {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000;
    background-color: rgba(0, 0, 0, .7)
}

.vl__popup-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%
}

.vl__X-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold
}

.vl__X-close:hover,
.vl__X-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer
}

.vl__form {
    display: inline-block
}

.vl__aff {
    color: #0092c2 !important
}

.vl__center {
    margin-left: auto;
    margin-right: auto;
    background-color: #fff
}

.vl__center tr {
    padding: 12px
}

.vl__TAGS {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto
}

@media screen and (max-width: 810px) {
    .vl__dictionary-list {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
        overflow: none
    }
}

@media screen and (max-width: 600px) {
    .vl__app {
        padding: 0%
    }

    .vl__nowrap {
        white-space: normal
    }

    .vl__dictionary-list {
        -moz-column-count: 1;
        -moz-column-gap: 0px;
        -webkit-column-count: 1;
        -webkit-column-gap: 0px;
        column-count: 1;
        column-gap: 0px
    }
}

.ql-font-sans-serif-regular,
.ql-font-sans-regular,
.ql-font-alata,
#toolbar-container .ql-font span[data-label="Noto Sans"]::before,
#toolbar-container .ql-font span[data-label="Noto Sans"]::before,
#toolbar-container .ql-font span[data-label=Cabin]::before {
    font-family: var(--sans-font);
}

.ql-font-cinzel,
#toolbar-container .ql-font span[data-label=Cinzel]::before {
    font-family: "Arial Black", var(--sans-font);
}


.ql-font-mono,
#toolbar-container .ql-font span[data-label="Roboto Mono"]::before {
    font-family: 'Courier New', Courier, monospace
}

.ql-align-center {
    text-align: center
}

.ql-align-justify {
    text-align: justify
}

.ql-align-right {
    text-align: right
}

.ql-size-small {
    font-size: 0.75em;
}

.ql-size-large {
    font-size: 1.5em;
}

.ql-size-huge {
    font-size: 2.5em;
}

.vl_content-visible {
    content-visibility: auto;
}