/* @font-face {
    font-family: Abyssal;
    src: url("assets/Barazhad-Regular.otf") format("opentype");
} */
@font-face {
    font-family: Thorass;
    src: url("assets/Olde-Thorass.otf") format("opentype");
}

:root {
    /* --thay-font: Infernal, Barazhad, serif; */
    --thay-font: Thorass, 'Olde Thorass', serif;
    --sans-font: Arial, Helvetica, sans-serif;

    --white: #fff;
    --gray1: #ccc;
    --gray2: #848484;
    --gray3: #505050;
    --accent1: #db194a;
    --accent2: #3384b0;
}

body {
    color: var(--gray3);
    font-family: var(--sans-font);
}

table,
td,
tr,
th {
    border: 1px solid #ddd;
    border-collapse: collapse;
    font-family: var(--sans-font);
}

th,
td {
    padding: 5px;
    vertical-align: center;
}

v-sp, .v-sp td {
    color: var(--accent2);
    font-family: var(--thay-font);
    font-weight: bold;
}

v-sp2, .v-sp2 td {
    color: var(--gray3);
    font-family: var(--sans-font);
    font-weight: bold;
}

v-ipa, .v-ipa td {
    font-family: var(--sans-font);
}

v-pos {
    color: var(--gray2);
    font-size: 15px;
    font-style: italic
}

th,
td {
    padding: 5px;
    vertical-align: center
}

.vl__vert-div {
    color: #d7dde0;
    font-weight: bold
}

.rule-container {
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .2);
    background: var(--white);
    border: 1px solid var(--gray1);
    border-radius: 10px;
    display: inline-block;
    margin: 0 20px 20px 0;
    overflow: auto;
    padding: 20px;
    text-align: left;
    vertical-align: top;
}

.vl__the-language-of {
    color: var(--accent1);
    font-family: "Arial Black", var(--sans-font);
    text-align: center;
    font-weight: bold
}

.vl__red-h2 {
    color: var(--accent1);
    text-align: center
}

.vl__sound-change-list {
    font-family: var(--sans-font);
}

.vl__morph-description {
    font-family: var(--sans-font);
    padding-bottom: 5px
}

.vl__dictionary-container {
    background: var(--white);
    border-radius: 4px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .3);
    display: block;
    margin: 0 auto;
    padding: 20px;
    text-align: left
}

.vl__dictionary-list {
    -moz-column-count: 3;
    -moz-column-gap: 5px;
    -webkit-column-count: 3;
    -webkit-column-gap: 5px;
    column-count: 3;
    column-gap: 5px
}

.vl__dictionary-list li {
    font-family: var(--sans-font);
    display: block;
    float: none;
    min-width: 198px;
    margin: 0 0 4px 0;
    border: 1px solid #f5f5f5;
    padding: 4px;
    -webkit-transition-duration: 1.5s;
    transition-duration: 1.5s
}

.vl__dictionary-list li:hover {
    border-radius: 4px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, .3);
    cursor: context-menu;
    border: 1px solid #a4c8dc
}


.vl__center tr {
    padding: 12px
}


@media screen and (max-width: 810px) {
    .vl__dictionary-list {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
        overflow: none
    }
}

@media screen and (max-width: 600px) {
    .vl__dictionary-list {
        -moz-column-count: 1;
        -moz-column-gap: 0px;
        -webkit-column-count: 1;
        -webkit-column-gap: 0px;
        column-count: 1;
        column-gap: 0px
    }
}